body {
  background-color: black;
}
.container-fluid{
  padding: 3% 15%;
}
.image2{
  width: 40%;
}
h1{
  color: white;
}
h5{
  padding-top: 10%;
}
nav{
font-weight: bold;
}
.E{
  color: red;
}
.cont{
  padding-bottom: 20px;
}
#footer{
  text-align: center;
  font-style: italic;
  padding: 3% 10%;

}
.social-icon{
  margin:20px 10px;
  color: white;
}
